* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
        "header header header header"
        "aside main main main"
        "aside main main main"
        "aside main main main"
        "footer footer footer footer";
    text-align: center;
}

header {
    grid-area: header;
    border: 1px solid black;
    text-align: center;
}

aside {
    grid-area: aside;
    border: 1px solid black;
}

main {
    grid-area: main;
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "section1 section1 section1"
        "section2 section3 section3"
        "section2 section4 section5";
}

.section-1 {
    grid-area: section1;
    border: 1px solid black;
}

.section-2 {
    grid-area: section2;
    border: 1px solid black;
}

.section-3 {
    grid-area: section3;
    border: 1px solid black;
}

.section-4 {
    grid-area: section4;
    border: 1px solid black;
}

.section-5 {
    grid-area: section5;
    border: 1px solid black;
}

footer {
    grid-area: footer;
    border: 1px solid black;
}